/* Default font size for small screens (sm) */
.text-yellow-600 {
    font-size: 1rem; /* Adjust the font size as needed */
}

/* Font size for medium screens (md) */
@media (min-width: 640px) {
    .text-yellow-600 {
        font-size: 1.25rem; /* Adjust the font size as needed */
    }
}

/* Font size for large screens (lg) */
@media (min-width: 1024px) {
    .text-yellow-600 {
        font-size: 1.5rem; /* Adjust the font size as needed */
        
    }
}

/* Default font size for small screens (sm) */
.text-3xl {
    font-size: 1.25rem; /* Adjust the font size as needed */
}

/* Font size for medium screens (md) */
@media (min-width: 640px) {
    .text-3xl {
        font-size: 1.75rem; /* Adjust the font size as needed */
    }
}

/* Font size for large screens (lg) */
@media (min-width: 1024px) {
    .text-3xl {
        font-size: 2rem; /* Adjust the font size as needed */
        
    }
}
