.featured-item{
    background-image: url('../../../assets/home/fe.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}